.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

html {
  height: -webkit-fill-available;
}

a { 
  color: #4E222E;
  text-decoration: none;
}

.bdg{
  font-size: small;
}

/* #################  NAV - MENU  ################# */
.navColor{
  background-color: #557CA3;
}

.menuColor,
#offcanvasNavbar, .lightcolor {
  background-color: #f1eeeb;
}

.nav-link.active {
  background-color: #557CA3 !important;
  color: #f1eeeb  !important;
}


/* ###################  TASK  ################### */
.btn-next {
  background-color: #557CA3;
  color: white;
  border: none;
}
.btn-next:hover {
  background-color: #4f7194;
}
.btn-next:focus,
.btn-next:focus-visible {
  outline: 3px solid #3a5978;
  /* outline-offset: 2px; */
  background-color: #557CA3;
}

.btn-task {
  background-color: #4E222E;
  color: #EFE8E2;
}
.btn-next:hover {
  background-color: #4f7194;
  border: #4E222E;
}
.btn-next:focus,
.btn-next:focus-visible {
  outline: 3px solid #3b1821;
  /* outline-offset: 2px; */
  background-color: #557CA3;
}


.form-check-input:checked {
  background-color: #557CA3; /* Tu color personalizado */
  border-color: #557CA3;
}
.form-check-input:checked::before {
  background-color: #fff;
}

.taskSubtitle {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.taskBorder{
  border: 1px solid #4E222E;
  /* color: #4E222E; */
}

/* .highlight {
  background: linear-gradient(to top, rgba(33,37,41, 0.03) 60%, transparent 40%);
} */
.highlight {
  background-color: rgba(33, 37, 41, 0.062); 
  padding: 0 4px;
  border-radius: 2px;
}

.highlight-custom {
  position: relative;
  z-index: 1;
}
.highlight-custom::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.1em;
  height: 0.6em;
  width: 100%;
  /* opacity: 50%; */
  background: rgba(33, 37, 41, 0.062); 
  z-index: -1;
  transform: rotate(-1deg);
}



/* main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
} */

/* .bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
} */

.color-option input[type="radio"] {
  display: none;
}

.color-option label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
  /* transition: border-color 0.3s ease; */
}

.color-option input[type="radio"]:checked+label {
  border-color: #0D0F0E;
}

/* COLOR OPTIONS */
#frut, .frut{ background-color: #E5ADAE; }
#kiwi, .kiwi{ background-color: #BFD5A9; }
#mand, .mand{ background-color: #EABFA0; }
#coco, .coco{ background-color: #D8C9B4; }
 #uva, .uva{ background-color: #D0AFCD; }

.noColor {
  background-color: #fff;
  border: 1px dashed #ccc;
}

::selection {
  background: #557CA3;
  color: black;
}